# More on functions

### Default Parameter

In [13]:
def func(arr,task=''):
    
    ## sum ,mult, max, min, even,odd
    if task=="sum":
        return sum(arr)
    
    elif task=="mult":
        res = 1
        for num in arr:
            res *=num 
        return res
    
    elif task=="max":
        return max(arr)
    
    elif task =='min':
        return min(arr)
    
    elif task=="even":
        even=[]
        for num in arr:
            if num%2==0:
                even.append(num)
        return even
    
    elif task=="odd":
        odd=[]
        
        for num in arr:
            if num%2!=0:
                odd.append(num)  
                return odd
    else:
        return arr

In [5]:
func([3,4,5,6,7], "sum")

25

In [6]:
func([3,4,5,6,7],'mult')

2520

In [7]:
func([3,4,5,6,7],'min')

3

In [9]:
func([3,4,5,6,7],'max')

7

In [10]:
func([3,4,5,6,7],'even')

[4, 6]

In [11]:
func([3,4,5,6,7],'odd')

[3, 5, 7]

In [14]:
func([3,4,5,6,7])

[3, 4, 5, 6, 7]

In [23]:
def anc(name:str)-> str:
    return name

In [24]:
anc(45)

45

# kEYWORD aRGUMANTS

In [36]:
def description(name, age, gender,blood_group):
    desc = f"""
            The name of person is {name}
            The age is {age}
            the Gender is {gender}
            the blood group is {blood_group} """
    print(desc)

In [37]:
description(age=23,blood_group="O+", name="asad", gender="male")

            The name of person is asad
            The age is 23
            the Gender is male
            the blood group is O+

#### Returning a Dictionary

In [50]:
def build_person(first_name, last_name, age=''):
    person = {'first': first_name, 'last': last_name}
    if age:
        person['age'] = age
    return person

In [51]:
musician = build_person('jimi', 'hendrix', age=27)

In [52]:
musician

{'first': 'jimi', 'last': 'hendrix', 'age': 27}

In [53]:
musician2 = build_person('jimi', 'hendrix')

In [54]:
musician2

{'first': 'jimi', 'last': 'hendrix'}

In [57]:
age =''
if age:
    print("h")