# Functions

In [6]:
def greet(name):
    print(f"Hello {name}")

In [7]:
greet('Ali')

Hello Ali

In [8]:
greet('Ahmed')

Hello Ahmed

In [9]:
greet("Nasir")

Hello Nasir

In [26]:
def square(num):
    
    #local variable
    sqr = num*num
    
    #global variable
    global name
    name = "Saylani"

In [27]:
square(6)

In [28]:
print(sqr)

# error due to accessing a locaL VARIABLE out side function

NameError: name 'sqr' is not defined

In [30]:
print(name)
# no error as name is declared as a global variable

Saylani

In [46]:
def square(num):
        
    return num**2, "hello", True

In [47]:
square(10)

(100, 'hello', True)

In [86]:
def add(num1,num2):
    total = num1+num2
    
    global nam
    nam="Asad"
    
    return total

In [87]:
a = add(3,4)

In [88]:
a

7

In [83]:
print(nam)

Asad

In [84]:
print(total)

NameError: name 'total' is not defined

In [74]:
def sub(v1,v2):
    ans = v2-v1
    return

In [80]:
print(sub(20,30))

None

In [79]:
print(a)

None

# Positional Parameters and ARGUMENTS

In [90]:
def complete_name(first_name, last_name):
    full_name = first_name + " " + last_name
    return full_name

In [92]:
complete_name('Nasir', "Hussain")

'Nasir Hussain'

# Default_Paraemters

In [95]:
def cube(num=1):
    _cube = num**3
    return _cube

In [96]:
cube(10)

1000

In [97]:
cube()

1

In [98]:
print("nasir","hussain",sep='\n')

nasir
hussain

In [101]:
def max_num(arr):
    return (max(arr)),(min(arr))

In [103]:
_max,_min=max_num([23,45,67,89,98])

_max

In [104]:
_max

98

In [105]:
_min

23

In [106]:
def dosquare(arr):
    return [a**2 for a in arr]

In [107]:
dosquare([2,33,4])

[4, 1089, 16]

In [108]:
def dosquare(arr):
    return[a**2 for a in arr if a<10]

In [109]:
dosquare([2,45])

[4]

In [112]:
def dosquare(arr):
    return[a**2 if a<10 else a for a in arr  ]

In [113]:
dosquare([3,77])

[9, 77]